<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xhrd.mobile.hybridframework"
    android:versionCode="2">

    <!-- 系统允许的权限，不需要请求 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.change_network_state" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!--涉及到系统安全 需要请求权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 未分配的 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="${HARDWAREACCELERATED}"
        android:largeHeap="true">
        <meta-data
            android:name="ENGINE_VERSION"
            android:value="${ENGINE_VERSION}" />
        <!-- 统计地址，版本、增量更新-->
        <meta-data
            android:name="rd_statistics_url"
            android:value="${rd_statistics_url}" />

        <!-- App -->
        <activity
            android:name="com.xhrd.mobile.hybrid.engine.HybridActivity"
            android:screenOrientation="${SCREENROTATION}"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <!-- 内部插件的Activity -->
        <activity
            android:name="com.xhrd.mobile.hybrid.framework.manager.gallery.ImageActivity"
            android:screenOrientation="${SCREENROTATION}"/>
        <activity
            android:name="com.xhrd.mobile.hybrid.framework.manager.gallery.VideoActivity"
            android:screenOrientation="${SCREENROTATION}"/>
        <activity
            android:name="com.xhrd.mobile.hybrid.framework.manager.gallery.NoneActivity"
            android:screenOrientation="${SCREENROTATION}"/>
        <activity
            android:name="com.xhrd.mobile.hybrid.framework.manager.gallery.NoneMultiActivity"
            android:screenOrientation="${SCREENROTATION}"/>

    </application>

</manifest>
